data/*
!data/README.md
paper/*
!paper/liftProject.tex
!paper/liftProject.pdf
results/brmsFit_*
results/samplesBaselineTaskEffectsRaw.rds
.Rproj.user/*
*.aux
*.bbl
*.blg
*.log
*.out
*.tdo
..gitignore.kate-swp
.Rproj.user
packrat/lib*/
packrat/src/
